.course-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.course-form h2 {
  text-align: center;
  color: darkslateblue;
}

.course-form div {
  margin-bottom: 15px;
}

.course-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: midnightblue;
}

.course-form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid lightsteelblue;
  border-radius: 4px;
}

.course-form button {
  width: 100%;
  padding: 10px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.course-form button:hover {
  background-color: mediumblue;
}

.course-form button:disabled {
  background-color: lightgray;
  color: darkgray;
  cursor: not-allowed;
}
