<div class="tabs-container" >
  <div class="tabs">
    <button [class.active]="selectedTab === 'enquiry'" (click)="selectTab('addCourse')">
      Add new Course
    </button>

    <button [class.active]="selectedTab === 'registered'" (click)="selectTab('All_Courses')">
      All Courses
    </button>
  </div>
</div>

<div class="course-form" *ngIf="selectedTab === 'addCourse'">
  <h2>Add New Course</h2>

  <form (ngSubmit)="onSubmit()" #courseForm="ngForm">
    <div>
      <label for="courseName">Course Name:</label>
      <input
        type="text"
        id="courseName"
        [(ngModel)]="course.courseName"
        name="courseName"
        required
      />
    </div>

    <div>
      <label for="discription">Description:</label>
      <input
        type="text"
        id="discription"
        [(ngModel)]="course.discription"
        name="discription"
        required
      />
    </div>

    <div>
      <label for="fees">Fees:</label>
      <input
        type="number"
        id="fees"
        [(ngModel)]="course.fees"
        name="fees"
        required
      />
    </div>

    <div>
      <label for="duration">Duration:</label>
      <input
        type="text"
        id="duration"
        [(ngModel)]="course.duration"
        name="duration"
        required
      />
    </div>

    <button type="submit" [disabled]="!courseForm.form.valid">
      Add Course
    </button>
  </form>

  <p *ngIf="message" style="margin-top: 10px;">{{ message }}</p>
</div>




<table border="1" cellpadding="8" cellspacing="0" width="100%" *ngIf="selectedTab === 'All_Courses'">
  <thead>
    <tr>
      <th>ID</th>
      <th>Course Name</th>
      <th>Description</th>
      <th>Fees</th>
      <th>Duration</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses">
      <td>{{ course.course_id }}</td>
      <td>{{ course.courseName }}</td>
      <td>{{ course.discription }}</td>
      <td>{{ course.fees }}</td>
      <td>{{ course.duration }}</td>
      <td>
        <button (click)="deleteCourse(course.course_id)">Delete</button>
        <button>Edit</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="courses.length === 0">
  No courses available.
</div>
